doctype
//if IE 8
  html.ie8
//if IE 7
  html.ie7
html
  head
    include ../includes/head
    //- block title is tag title (title for document)
    block title
  body
    //- content is for all markup from view
    block content
    include ../includes/scripts